<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            
        {% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    {% block content %}
    
    {% endblock content %}   
</body>
{% block script %}
    <script src="{{url_for('static', filename='js/jquery-3.4.1.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/socket.io.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock script %}
</html>