{% extends "base.html" %}
{% block title %}
    Chat {{room}}
{% endblock title %}
{% block content %}
    <div class="container">
      <h1>Room name: {{room}}</h1>
      <div class="messaging">
        <div class="inbox_msg">
          <div class="mesgs">
            <div class="msg_history" id="msg_history">
            </div>
            <div class="type_msg">
              <div class="input_msg_write">
                <div class="d-flex">
                  <div class="col-md-8">
                    <input id="text" type="text" class="write_msg" placeholder="Type a message" />
                  </div>
                  <div class="col-md-2">
                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button> 
                  </div>
                  <div class="col-md-2">
                    <a class="btn btn-warning pull-right" href="#" style="margin-top: 5px;" onclick="leave_room();">Leave this room</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
